---
---
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  -webkit-font-feature-settings: "kern","liga","pnum";
  -ms-font-feature-settings: "kern","liga","pnum";
  font-feature-settings: "kern","liga","pnum";
  -webkit-font-smoothing: antialiased;
  color: #8b929a;
  line-height: 1.5;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 1.2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0 0 0.75em;
}
p {
  margin: 0 0 0.75em;
}
a {
  //color: #49a2df;
  color: #8b929a;
  text-decoration: none;
  border-bottom: 1px dotted #8b929a;
  transition: color 0.1s linear;
}
a:active,
a:focus,
a:hover {
  color: #217cbb;
}
a:active,
a:focus {
  outline: none;
}
hr {
  border-bottom: 1px solid #c6ccd1;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}
img,
picture {
  margin: 0;
  max-width: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.H0 {
  font-size: 3em;
}
.H0,
.H1 {
  color: #424242;
}
.H1 {
  font-size: 1.5em;
}
.H2 {
  color: #424242;
}
.Section {
  max-width: 1034px;
  margin-left: auto;
  margin-right: auto;
}
.Section:after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (max-width:768px) {
  .Section {
    padding: 1.5em 0.75em;
  }
}
.Section--full {
  max-width: 100%;
}
.Section--paddedTop {
  padding-top: 1.5em;
}
@media screen and (max-width:768px) {
  .Section--paddedExtra {
    padding: 1.5em 0.75em;
  }
}
@media screen and (min-width:769px) {
  .Section--paddedExtra {
    padding: 3em 0.75em;
  }
}
.Section--centered {
  text-align: center;
}
.Section--divided {
  border-bottom: 1px solid #c6ccd1;
  border-top: 1px solid #c6ccd1;
}
.Section--divided+.Section--divided {
  border-top: 0;
}
.Section--b {
  background-color: #f7f7f7;
}
@media screen and (max-width:768px) {
  .Split-pane {
    margin-bottom: 1.5em;
  }
}
@media screen and (max-width:768px) {
  .Split-pane:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width:769px) {
  .Split-pane--4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .Split-pane--4:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width:769px) {
  .Split-pane--5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
  }
  .Split-pane--5:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width:769px) {
  .Split-pane--6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .Split-pane--6:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width:769px) {
  .Split-pane--7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
  }
  .Split-pane--7:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width:769px) {
  .Split-pane--8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  .Split-pane--8:last-child {
    margin-right: 0;
  }
}
.SaleBox {
  border: 1px solid #c6ccd1;
  border-radius: 4px;
  padding: 1.5em;
}
.SaleBox-heading {
  color: #66bb6a;
  font-size: 1.5em;
  padding-bottom: 0.75em;
  border-bottom: 1px solid #c6ccd1;
}
.SaleBox-priceDescriptor {
  text-transform: uppercase;
  font-size: 0.75em;
  display: block;
}
.SaleBox-price {
  font-size: 1.5em;
  color: #424242;
  font-weight: 700;
  display: block;
  margin-bottom: 0.75em;
}
.TraitsList-traitHeading {
  color: #66bb6a;
  font-size: 1.2em;
  font-weight: 400;
}
.Trifecta {
  -webkit-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  padding-top: 1.5em;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media screen and (min-width:0px) {
  .Trifecta-item {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 100%;
    -moz-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    margin-bottom: 1.5em;
  }
}
@media screen and (min-width:769px) {
  .Trifecta-item {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.Trifecta-itemIcon {
  display: inline-block;
  margin-bottom: 15px;
  max-width: 60px;
}
.Trifecta-itemLabel {
  display: block;
  width: 100%;
}
.DomainList {
  -webkit-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 1.5em;
}
.DomainList-domain,
.DomainList-domain a:link,
.DomainList-domain a:visited {
  color: #66bb6a;
  font-size: 1.2em;
  border: none;
}
@media screen and (min-width:0px) {
  .DomainList-domain,
  .DomainList-domain a:link,
  .DomainList-domain a:visited {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 100%;
    -moz-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    margin-bottom: 1.5em;
  }
}
@media screen and (min-width:769px) {
  .DomainList-domain,
  .DomainList-domain a:link,
  .DomainList-domain a:visited {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.DomainList-domain a:active,
.DomainList-domain a:hover {
  color: #78c37b;
}
.Btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #49a2df;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  padding: 1em 1.5em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
}
.Btn:active,
.Btn:focus,
.Btn:hover {
  background-color: #52a6e1;
  color: #fff;
  outline: 0;
}
.Btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.Btn--primary {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #66bb6a;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  padding: 1em 1.5em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.Btn--primary:active,
.Btn--primary:focus,
.Btn--primary:hover {
  background-color: #6dbe71;
  color: #fff;
  outline: 0;
}
.Btn--primary:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.Btn--lg {
  font-size: 1em;
}
.Btn--secondary {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c6ccd1;
  color: #8b929a;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  padding: 1em 1.5em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.Btn--secondary:active,
.Btn--secondary:focus,
.Btn--secondary:hover {
  background-color: #fff;
  color: #8b929a;
  outline: 0;
}
.Btn--secondary:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.Btn--block {
  width: 100%;
}
.Btn--block+.Btn--block {
  margin-top: 0.75em;
}
.Footer {
  height: 75px;
  line-height: 75px;
  font-size: 0.75em;
}
.Footer a:hover,
.Footer a:link,
.Footer a:visited {
  color: #8b929a;
}
.Footer-logo {
  vertical-align: middle;
  margin-left: 10px;
  max-width: 120px;
  top: -1px;
  position: relative;
}
.Loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid transparent;
  border-right: 1.1em solid transparent;
  border-bottom: 1.1em solid transparent;
  border-left: 1.1em solid #49a2df;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 0.7s infinite linear;
  animation: load 0.7s infinite linear;
}
.Loader,
.Loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.HeadingSection-heading {
  float: left;
}
@media screen and (max-width:768px) {
  .HeadingSection-heading {
    float: none;
  }
}
.HeadingSection-subHeading {
  color: #66bb6a;
  float: right;
  margin-top: 1em;
  font-size: 1.5em;
}
@media screen and (max-width:768px) {
  .HeadingSection-subHeading {
    float: none;
    margin: 0;
  }
}
.Form {
  font-size: 0.8em;
  padding-top: 0.75em;
  position: relative;
}
@media screen and (max-width:768px) {
  .Form {
    padding-top: 0;
  }
}
.Form input,
.Form textarea {
  display: block;
  padding: 0.75em;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #c6ccd1;
  font-size: 1em;
}
.Form label {
  font-weight: 700;
  color: #424242;
  display: block;
  margin-bottom: 5px;
}
.Form-formField {
  margin-bottom: 15px;
}
.Form-wrapper {
  padding-right: 3em;
}
@media screen and (max-width:768px) {
  .Form-wrapper {
    padding-right: 0;
  }
}
.Form-successIcon {
  float: left;
  height: 1em;
  width: auto;
  margin-right: 0.75em;
}
.Form-error {
  background-color: #ff706c;
  color: #fff;
  border-radius: 4px;
  padding: 5px 0.75em;
}
.Form-loading {
  position: relative;
  opacity: 0.8;
  background-color: #f7f7f7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 3em;
}
@media screen and (max-width:768px) {
  .Form-loading {
    padding-top: 60%;
  }
}
